@charset "UTF-8";

:root {
    --cor1: #321C89;
    --cor2: #6439A3;
    --cor3: #C08AD8;
    --cor4: #FED5A9;
    --cor5: #A44A6D;
}

@media screen and (min-width: 768px){
    body {
        background: linear-gradient( #321C89, #6439A3, #FED5A9, #A44A6D )fixed;
    }
    section{
        width: 80%;
    }
    div#img{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background: linear-gradient( #321C89, #6439A3, #FED5A9, #A44A6D )fixed;
    }
    section{
        width: 950px;
    }
    div#img{
        float: right;
        width: 50%;
        height: 100%;
    }
    div#form{
        float: left;
        width: 50%;
    }
    h1{
    font-size: 2em;
}
    p{
    font-size: 1.2em;
}
}