@charset "UTF-8";

:root {
    --cor0: #ffffff;
    --cor1: #2a1874;
    --cor2: #794ac0;
    --car3: #eac5f7;
    --cor4: #fdecdb;
    --cor5: #A44A6D;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor2)
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor0);
    margin-top: 250px;
    width: 250px;
    height: 515px;
    border-radius: 20px ;
    overflow:hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}
div#img {
    background: url(../imagens/img.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}
div#form{
    padding: 10px;
    display: block;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
p{
    font-size: 0.8em;
}
.campo{
    background-color: var(--cor2);
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    margin: 5px 0px; 
    color: var(--cor0);
}
.a{
    background-color: var(--car3);
    padding: 10px;
    width: 21vw;
    border-radius: 10px;
    font-size: 15px;
}
#botao {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: var(--cor5);
    color: var(--cor4);
}
#botao:hover{
    background-color: var(--cor4);
    color: var(--cor5);
    cursor: pointer;
}
a {
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--cor5);
    color: var(--cor5);
    background-color: var(--cor0);
    text-decoration: none;
    margin-top: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
}
a:hover {
    background-color: var(--cor4);
}